@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.coin-app .currency-select {
  background-color: white;
  text-align: center;
  align-items: center;
}

.coin-app .currency-select h1 {
  font-size: 35px;
  font-weight: 600;
}

.coin-app .currency-select switch {
  color: white;
}

.coin-app .coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-app .coin-search .coin-input {
  padding-left: 20px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: #e2e2e2;
}

.coin-app .coin-search .coin-input::placeholder {
  color: #e2e2e2;
}

.coin-app .coin-text {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-container .coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid gray;
  width: 900px;
}
